
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="alert alert-info">

    @ViewBag.search için arama yaptınız.<a href="/Home/Index">Filtreyi Kaldır</a>

</div>
